@import url("https://fonts.googleapis.com/css2?family=Farro:wght@300;400;500;700&family=Moul&family=Tilt+Neon&display=swap");

body {
  font-family: "Moul", sans-serif;
  font-size: 16px;
  color: #fff;
  background-color: #d9d9d9;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* home */

nav {
  display: flex;
  align-items: center;
  height: 14vh;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 6rem;
}

.logo h2 {
  font-weight: 400;
  color: #424884;
  margin-right: 90px;
}

.logo_img {
  height: 2.5rem;
  margin-right: 1rem;
}

.nav-links {
  list-style: none;
  font-size: 1rem;
  display: flex;
}

.nav-links li {
  margin-right: 7rem;
}

a {
  color: #424884;
  text-decoration: none;
  text-decoration-color: #424884;
}

.un {
  display: inline-block;
  padding-bottom: 1px;
  background-image: linear-gradient(#424884 0 0);
  background-position: 0 100%;
  background-size: 0% 2px;
  background-repeat: no-repeat;
  transition: background-size 0.3s, background-position 0s 0.3s;
  overflow: none;
}

.un:hover {
  background-position: 100% 100%;
  background-size: 100% 3px;
  overflow: none;
}

.circlebackground1 {
  display: flex;
  justify-content: flex-end;
}

.hometext {
  position: absolute;
}

.circle1 {
  margin-top: -16rem;
  margin-right: -11rem;
  position: absolute;
  background: white;
  border-radius: 50%;
  width: 53rem;
  height: 53rem;
  z-index: -1;
}

.circlebackground2 {
  margin-top: 18rem;
  margin-right: -19rem;
  display: flex;
  justify-content: center;
  align-content: center;
}

.circle2 {
  position: absolute;
  background: #d9d9d9;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  bottom: 40px;
  left: 50px;
}

.homeicon {
  display: block;
  align-items: center;
  justify-content: center;
  object-fit: contain;
  margin-bottom: 20px;
}

.homepic {
  position: absolute;
}

.hometitle {
  font-weight: 400;
  position: absolute;
  color: #424884;
  margin-top: -12rem;
  margin-left: 6.5rem;
}

.homep {
  color: #424884;
  font-size: 12pt;
  margin-left: 6.5rem;
  margin-top: -8rem;
  max-width: 35rem;
}

@media screen and (max-width: 1325px) {
  .circlebackground1 {
    display: flex;
    flex-direction: row;
  }

  .circle1 {
    margin-top: 30rem;
    margin-right: -11rem;
    position: absolute;
    background: white;
    border-radius: 50%;
    width: 53rem;
    height: 53rem;
    z-index: -1;
  }

  .hometitle {
    margin-top: -12rem;
    margin-left: 0;
  }

  .homepic {
    position: absolute;
    margin-top: 10rem;
  }
}

@media screen and (max-width: 770px) {
  .logo {
    margin: 2rem;
  }

  .logo h2 {
    margin-right: 0;
  }

  .nav-links {
    display: none;
  }
}

/* producten pagina */
.producten {
  height: 86vh;
}

.circle_product {
  background: white;
  border-radius: 50%;
  width: 13rem;
  height: 13rem;
  z-index: -1;
  margin: 1.6rem;
}
.row_1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0rem;
}
.row_2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0rem;
}

.circle-product-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 3rem;
}

.product-button a {
  color: white;
  text-decoration: none;
}
.product-button {
  background-color: #424884;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 5px;
  cursor: pointer;
  margin-top: -6rem;
}

.product-button:hover {
  background-color: #4f58bf;
}

.productfoto {
  height: 7rem;
  margin: 2.8rem;
}

/* individuele producten pagina */

.circle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 0%;
  width: 450px;
  height: 450px;
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  height: 20rem;
}

.slider {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: auto;
}

.slide {
  width: 100%;
  height: auto;
  position: absolute;
  opacity: 0;
  transition: opacity 1s ease-in-out; 
}

.slidevid {
  width: 100%;
  height: auto;
  position: absolute;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

#slidevid {
  margin-top: 2.5rem;
}

video::-webkit-media-controls-start-playback-button {
  display: none;
}

.slide:first-child {
  opacity: 1;
}
.slider-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #424884;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.pijlen {
  z-index: 2;
}

.slider-button.prev {
  left: 10px;
}

.slider-button.next {
  right: 10px;
}

.text-container {
  position: absolute;
  top: 55%;
  right: 10%;
  transform: translateY(-50%);
  width: 500px;
  text-align: left;
  color: #424884;
  z-index: 2;
}
.text-container h1 {
  font-size: 2rem;
  margin-bottom: 0rem;
}
