@import url("https://fonts.googleapis.com/css2?family=Farro:wght@300;400;500;700&family=Moul&family=Tilt+Neon&display=swap");

body {
  font-family: "Moul", sans-serif;
  font-size: 16px;
  color: #fff;
  background-color: #d9d9d9;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav {
  display: flex;
  align-items: center;
  height: 14vh;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 6rem;
}

.logo h2 {
  font-weight: 400;
  color: #424884;
  margin-right: 90px;
}

.logo_img {
  height: 2.5rem;
  margin-right: 1rem;
}

.nav-links {
  list-style: none;
  font-size: 1rem;
  display: flex;
}

.nav-links li {
  margin-right: 7rem;
}

a {
  color: #424884;
  text-decoration: none;
  text-decoration-color: #424884;
}

.un {
  display: inline-block;
  padding-bottom: 1px;
  background-image: linear-gradient(#424884 0 0);
  background-position: 0 100%;
  background-size: 0% 2px;
  background-repeat: no-repeat;
  transition: background-size 0.3s, background-position 0s 0.3s;
  overflow: none;
}

.un:hover {
  background-position: 100% 100%;
  background-size: 100% 3px;
  overflow: none;
}

.circle1 {
  margin-top: -15rem;
  margin-left: 55rem;
  background: white;
  border-radius: 50%;
  width: 52rem;
  height: 52rem;
}

.circle2 {
  margin-top: -19rem;
  margin-left: 53rem;
  background: #d9d9d9;
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
}

.hometext {
  margin-top: -29rem;
  max-width: 32rem;
  margin-left: 6.5rem;
  position: relative;
  color: #708090;
  font-weight: 400;
}

.homepic {
  margin-top: -20rem;
  margin-left: 65rem;
  position: relative;
  height: 28rem;
}
